
#ResetPasswordFormForm {
    height: 180px;
}

#ResetPasswordFormDescription {
    margin-top: 0;
}

.ResetPasswordFormTextInput {
    width: calc(100% - 14px);
}

#ResetPasswordFormSubmitButton {
    position: absolute;
    bottom: 20px;
    right: 0;
}