
#HeroView {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include flex-grow(2);
    @include transition(opacity 0.5s);

    &.Final {
        opacity: 1;
    }

    &.Outgoing, &.Ingoing {
        opacity: 0;
    }
}

#HeroLogoContainer {
    position: relative;
    text-align: center;
    margin-top: 200px;
    z-index: 100;
}

#HeroLogo {
    height: 70px;
}

#HeroSignupButton {
    margin-top: 40px;
}

#HeroImageContainer {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

#HeroImage {
    display: block;
    margin: 0 auto;
    height: 100%;
}