
#LandingPageTopBarView {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 60px;
}

#LandingPageTopBarLogoContainer {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);

    &:active {
        opacity: 0.3;
    }
}

#LandingPageTopBarLogo {
    display: inline-block;
    width: 133px;
    height: 30px;
    background: url('/Public/Images/WhiteLogo.png');
    background-size: 133px 30px;
}

#LandingPageTopBarLogInButtonContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    cursor: pointer;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);

    &:active {
        color: rgba(255, 255, 255, 0.3);
    }
}

