
#PostForm {
    width: 100%;
}

#PostFormProfileImage {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}

#PostFormForm {
    background-color: #fff;
    width: 500px;
    float: right;
}

#PostFormInputContainer {
    position: relative;
    min-height: 40px;
    border-bottom: 1px solid #F6F6F6;
    border-top: 1px solid #F6F6F6;
}

.PostFormAction {
    float: left;
    cursor: pointer;
    padding: 10px 8px;

    &:active {
        opacity: 0.3;
    }
}
