

#PostForm {
    width: 100%;
    @include display-flex;
}

#PostFormProfileImage {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}

#PostFormForm {
    background-color: #fff;
    @include flex-grow(2);
}

#PostFormInputContainer {
    position: relative;
    min-height: 40px;
    border-bottom: 1px solid #F6F6F6;
    border-top: 1px solid #F6F6F6;
}

#PostFormTextInput {
    padding: 10px 0 10px 5px;
    outline: none;
    color: #000;
    font-weight: 200;
    font-size: 12px;
    width: 480px;
    word-wrap: break-word;
}