
#TopicsView {
    position: relative;
    overflow: hidden;
    height: 100%;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include flex-grow(2);
}

#TopicsContentTitle {
    margin: 40px 0 60px;
}

#TopicsEmptyView {
    position: relative;
    margin-top: 40px;
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex-grow(2);
}


#TopicsEmptyViewTitle,
#TopicsEmptyViewDescription,
#TopicsEmptyViewAddButton,
#TopicsEmptyViewHeroImage {
    @include transition(transform 1s, opacity 0.5s);

    .Revealed & {
        opacity: 1;
        @include transform(translateY(0));
    }

    .Hidden & {
        @include transform(translateY(1000px));
        opacity: 0;
    }
}
$transition-delay-step: 0.05s;
#TopicsEmptyViewTitle {
    text-align: center;
    @include transition-delay(#{$transition-delay-step * 3});
}

#TopicsEmptyViewDescription {
    text-align: justify;
    width: 400px;
    @include transition-delay(#{$transition-delay-step * 2});
}

#TopicsEmptyViewAddButton {
    margin-top: 40px;
    @include transition-delay(#{$transition-delay-step * 1});

    &:active {
        @include transition(none);
        opacity: 0.3;
    }
}

#TopicsEmptyViewHeroImageContainer {
    margin-top: 50px;
    max-width: 900px;
    width: 100%;
    @include flex-grow(2);
}

#TopicsEmptyViewHeroImage {
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

$side: 100px;
.AddButton {
    position: relative;
    width: $side;
    height: $side;
    border-radius: 23px;
    border: 2px solid #C6C8D4;
    background-color: #DDE0EC;
    cursor: pointer;
    @include flex-shrink(0);

    &:active {
        transition: none !important;
        opacity: 0.3 !important;
    }
}

$length: 60px;
$thickness: 3px;
$margin: ($side - $length) / 2;
.AddButtonCross {
    position: absolute;
    background-color: #C6C8D4;
}
.AddButtonVertical {
    @extend .AddButtonCross;
    top: $margin;
    left: $side / 2;
    width: $thickness;
    height: $length;
}

.AddButtonHorizontal {
    @extend .AddButtonCross;
    left: $margin;
    top: $side / 2;
    height: $thickness;
    width: $length;
}

#TopicForm {
    position: relative;
    width: 350px;
    height: 510px;
    border-radius: 5px;
    overflow: hidden;
    @include transition(transform 0.5s, opacity 0.5s);

    &.Revealed {
        opacity: 1;
        @include transform(translateY(0));
    }

    &.Hidden {
        opacity: 0;
        @include transform(translateY(-800px));
    }
}

#TopicFormDropContainer {
    position: relative;
    background-color: #44454F;
    height: 285px;
    overflow: hidden;
}

#TopicFormTopicCoverImage {
    position: absolute;
    top: 0;
    left: 0;
}

$padding: 20px;
$border-thickness: 3px;
$calc: calc(100% - #{2 * ($padding + $border-thickness)});
#TopicFormDropContainerBorder {
    margin: $padding;
    height: $calc;
    width: $calc;
    border-radius: 10px;
    border: $border-thickness solid #ACAEB9;
    cursor: pointer;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);

    &:active {
        opacity: 0.3;
    }
}

#TopicFormDropText {
    font-size: 24px;
    color: #ACAEB9;
    font-weight: 200;
}

#TopicFormInputContainer {
    padding: 20px 10px 0;
    @include display-flex;
    @include flex-direction(column);
}

#TopicFormButtonContainer {
    position: absolute;
    bottom: 20px;
    right: 0;
}

#TopicFormDeleteButton {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

#TopicFormCancelButton{
    margin-right: -6px;
}

#TopicsCollectionView {
    position: relative;
    overflow: hidden;
    @include display-flex;
    @include align-items(stretch);
    @include justify-content(flex-start);
    @include flex-grow(2);
}

#TopicCollectionViewList {
    @include display-flex;
    @include align-items(stretch);
    @include justify-content(flex-start);
    @include flex-grow(2);
}

$transition-delay-step: 0.1s;
#TopicsCollectionViewAddButton {
    margin-top: 310px;
    margin-left: 20px;
    @include transform(translateX(0px));
    @include transition(transform 0.5s, opacity 0.5s);

    #TopicsCollectionView.Revealed &.Shifted {
        @include transition-delay(0 s);
        @include transform(translateX(400px));
    }

    &:nth-child(2) {
        @include transition-delay(#{$transition-delay-step * 1});
    }

    &:nth-child(3) {
        @include transition-delay(#{$transition-delay-step * 2});
    }

    &:nth-child(4) {
        @include transition-delay(#{$transition-delay-step * 3});
    }

    &:nth-child(5) {
        @include transition-delay(#{$transition-delay-step * 4});
    }

    #TopicsCollectionView.Revealed & {
        opacity: 1;
        @include transform(translateX(0));
    }

    #TopicsCollectionView.Hidden & {
        opacity: 0;
        @include transform(translateX(500px));
    }
}

$transition-delay-step: 0.1s;
.Topic {
    position: relative;
    margin: 40px 20px 30px 0;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    @include flex-shrink(0);
    @include transition(opacity 0.5s, transform 0.5s);

    &:nth-child(2) {
        @include transition-delay(#{$transition-delay-step * 1});
    }

    &:nth-child(3) {
        @include transition-delay(#{$transition-delay-step * 2});
    }

    &:nth-child(4) {
        @include transition-delay(#{$transition-delay-step * 3});
    }

    &:nth-child(5) {
        @include transition-delay(#{$transition-delay-step * 4});
    }

    #TopicsCollectionView.Revealed & {
        opacity: 1;
        @include transform(translateX(0));
    }

    #TopicsCollectionView.Hidden & {
        opacity: 0;
        @include transform(translateX(500px));
    }

    #TopicsCollectionView.Revealed &.Hidden {
        opacity: 0;
        @include transition-delay(0 s);
        @include transform(translateY(-200%));
    }

    #TopicsCollectionView.Revealed &.Revealed {
        opacity: 1;
        @include transition-delay(0 s);
        @include transform(translateY(0));
    }
}

.TopicCoverImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 325px;
    overflow: hidden;
    background-color: #666;
}

.TopicCoverImage {
    height: 100%;
    @include transition(opacity 0.5s);
    @include user-select(none);

    &.Hidden {
        opacity: 0;
    }

    &.Revealed {
        opacity: 1;
    }
}

.TopicCoverImageMask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include transition(opacity 3s);
    @include user-select(none);
    @include background(
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0) 45%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0.6)
        )
    );

    &.Hidden {
        opacity: 0;
    }

    &.Revealed {
        opacity: 1;
    }
}

.TopicHeaders {
    position: absolute;
    top: 10px;
    left: 15px;
}

.TopicTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.TopicFollowersCount {
}

.TopicDescription {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 360px;
    overflow: hidden;
}

.TopicButton {
    position: absolute;
    right: 15px;
    top: 15px;

    &:active {
        opacity: 0.3;
    }
}

#TopicsCollectionViewScrollBarDecratorLeft {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 5px;
    height: calc(100% - 70px);
    z-index: 1;

    &.Active {
        box-shadow: #A9ACB9 6px 0 6px -6px inset;
    }
}

#TopicsCollectionViewScrollBarDecratorRight {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 5px;
    height: calc(100% - 70px);
    z-index: 1;

    &.Active {
        box-shadow: #A9ACB9 -6px 0 6px -6px inset;
    }
}

.HorizontalScrollBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #D4D7E6;
    z-index: 2;
}

.HorizontalScrollBarCursor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #B4B7C7;
}