
.TextFormatInput {
    padding: 10px 0 10px 5px;
    outline: none;
    color: #000;
    font-weight: 200;
    font-size: 12px;
    width: 480px;
    word-wrap: break-word;
}

.UsernameTextFormat {
    background-color: #6B768C;
    color: #fff;
    padding: 1px 7px 3px;
    border-radius: 5px;
}