
@import "compass";

.BgLightGrey {
    @include background-image(linear-gradient(#858A9F, #ffffff));
}

.BgWhite1 {
    background-color: #fff;
}

.BgWhite2 {
    background-color: #EDEEF4;
}

.BgWhiteBlue {
    background-color: #EAECF6;
}