
@import "compass-placeholder";

.TextInput {
    display: block;
    background-color: #CBCCD5;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 3px 7px;
    line-height: 24px;
    margin-bottom: 7px;
    outline: none;
    font-size: 12px;

    @include placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 12px;
    }
}

.CentralForm {
    position: relative;
    margin: 200px auto 0;
    width: 300px;
    height: 140px;
    border-radius: 5px;
    padding: 20px 10px;
    @include transition(opacity 0.5s);

    .Ingoing &, .Outgoing & {
        opacity: 0;
    }

    .Final & {
        opacity: 1;
    }
}
