
$black-color: #333;
.HeaderBlack1 {
    color: $black-color;
    font-weight: 200;
    font-size: 28px;
}

.HeaderBlack2 {
    color: $black-color;
    font-weight: 200;
    font-size: 18px;
}

.HeaderBlack3 {
    color: $black-color;
    font-weight: 300;
    font-size: 14px;
}

.HeaderBlack4 {
    color: $black-color;
    font-weight: 500;
    font-size: 12px;
}

.HeaderBlack5 {
    color: $black-color;
    font-weight: 500;
    font-size: 11px;
}

.UsernameText {
    color: #2B86CB;
    font-weight: 500;
    font-size: 10px;
}

.HeaderWhite1 {
    color: #fff;
    font-weight: 200;
    font-size: 20px;

    @media(max-width: 500px) {
        font-size: 12px;
    }
}

.HeaderWhite2 {
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    margin: 10px 0;
}

.HeaderWhite3 {
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    margin: 5px 0;
}

.ParagraphWhite1 {
    color: #fff;
    font-weight: 200;
    font-size: 14px;
}

.ParagraphBlack1 {
    color: #333;
    font-weight: 200;
    font-size: 24px;
}

.PromptText {
    color: #666;
    font-size: 12px;
    font-weight: 200;
    margin: 20px 0;
}

.WarningText {
    color: #905A5A;
    font-size: 12px;
    font-weight: 300;
}

.TextLink {
    color: #2B86CB;
    font-weight: 400;
    cursor: pointer;

    &:active {
        opacity: 0.3;
    }
}

.TextLink1 {
    @extend .TextLink;
    font-size: 12px;
}

.TextLink2 {
    @extend .TextLink;
    font-size: 14px;
}

.DialogTitle {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin: 15px 0;
}

.DialogText {
    font-size: 14px;
    color: #666;
    font-weight: 200;
}

.Horizontal {
    border-bottom: 1px solid #DCDCDC;
    border-top: none;
}

.Thin1 {
    font-weight: 200;
    font-size: 14px;
    color: #333;
}

.Bold1 {
    font-weight: 500;
    font-size: 14px;
    color: #333;
}

.ContentTitle {
    font-weight: 500;
    font-size: 20px;
    color: #333;
}

.Title1 {
    font-weight: 200;
    font-size: 28px;
    color: #333;
    margin: 40px 0;
}

.Description1 {
    font-weight: 200;
    font-size: 14px;
    color: #333;
}
