
#TopBar {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 60px;
}

#TopBarLogoContainer {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
}

#TopBarLogo {
    display: inline-block;
    width: 133px;
    height: 30px;
    background: url('/public/images/white-logo.png');
    background-size: 133px 30px;
}

#TopBarLoginButtonContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
}

#TopBarLoginButton {
    cursor: pointer;

    &:active {
        color: rgba(255, 255, 255, 0.3);
    }
}