
.Region {
    position: relative;
}

#Body_withTopBar {
    z-index: -1;
}

#Body {
    z-index: 1;
    @extend .Region;
    height: 100%;

    @media(max-width: 500px) {
        height: 400px;
    }
}

#CanvasWave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.1;
}

#Footer {
    @extend .Region;
    height: 100px;

    @media(max-width: 500px) {
        height: 60px;
    }
}

#Overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;

    &.Hidden {
        background-color: rgba(0, 0, 0, 0);
    }

    &.Revealed {
        background-color: rgba(0, 0, 0, 0.3);
    }
}