
.Region {
    position: relative;
}

#WebLandingPage {
    z-index: -1;
}

#Body {
    @extend .Region;
    z-index: 1;
    @include display-flex;
    @include flex-direction(column);
    @include flex-grow(2);

    @media(max-width: 500px) {
        height: 400px;
    }
}

#CanvasWave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.1;
}

#Footer {
    @extend .Region;
    height: 100px;

    @media(max-width: 500px) {
        height: 60px;
    }
}
