
.Button {
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.PurpleButton {
    @extend .Button;
    border-radius: 5px;
    background-color: $color-purple;
    color: #fff;
    text-align: center;

    &:active {
        color: rgba(255, 255, 255, 0.3);
    }
}

.PurpleButton1 {
    @extend .PurpleButton;
    font-size: 14px;
    padding: 11px 30px;
}

.PurpleButton2 {
    @extend .PurpleButton;
    font-size: 12px;
    padding: 5px 10px;
    min-width: 60px;
}

.PurpleButton1Wide {
    @extend .PurpleButton1;
    min-width: 180px;
}

.TextButton {
    @extend .Button;
    font-size: 28px;
    font-weight: 300;
    color: $color-purple;
    background-color: transparent;
    padding: 0 0;

    &:active {
        opacity: 0.3;
    }
}